/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Login.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Login_login__2zqJt {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  padding: 32px 64px;
  width: 100%;
  max-width: 384px;
  margin: 16px 8px;
  border-radius: 24px;
}

.Login_placeholderOpacity__qGqeW::-moz-placeholder {
  opacity: 0.3;
}

.Login_placeholderOpacity__qGqeW::placeholder {
  opacity: 0.3;
}

/* bg-white py-8 px-16 rounded-3xl w-full max-w-sm mx-4 shadow-lg border-[#BEBEBE] shadow-[#A2A2A2] */

