@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');

.ProvinceGridWrapper  {
    margin-top: 5%;
    height: 70%;
    width: 100%;
    padding: 0 7%;
    box-sizing: border-box;
}

.ProvineGrid {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.UpperPart, .LowerPart {
    display: grid ;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.UpperPart {
    grid-template-columns: 65fr 35fr;
}

.LowerPart {
    grid-template-columns: 36fr 42fr 32fr;
}

.LowerPart {
    margin-top: 20px;
}


.block1 {

    width: 65%;
}

.block {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #D9D9D9;
    overflow: hidden;

    font-family: 'Post No Bills Jaffna ExtraBold';
    letter-spacing: 2px;

    cursor: pointer;
}

.block img {
    object-fit: cover;
}

.Filter {
    background-color: rgba(0, 0, 0, 0.525);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 26px;
    box-sizing: border-box;

    color: white;
    font-size: 40px;
    font-weight: 600;
}

.Filter2 {
    text-align: right;
}

.Filter3, .Filter4 , .Filter5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

