

.fullBlock{
    width: 93.5%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 3.25vh;
    box-shadow: 3px 3px 4.5px rgba(0, 0, 0, 0.4);
}

.leftBlock{
    width: 36.15%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.25rem;
}

.rightBlock{
    width: 63.85%;
    padding-right: 5vw;
    font-size: 1.25rem;
}

.rating{
    margin-top: auto;
}