.page {
    width: 100vw;
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    padding-bottom: 15.6vh;
}

  
  .campgroundBlock {
    margin-top: 17.5vh;
    width: 83vw;
    background-color: #ffffff;
    border-radius: 10px;
    border: #909090 solid 1px;
    display: flex;
    flex-direction: column;
    padding: 1.5% 2.2%;
    margin-bottom: 6.6vh;
  }
  
  .rowBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .campgroundDetail {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .priceBlock {
    padding-top: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .link {
    color: #0079F1;
    font-size: 0.9rem;
    margin-top: auto;
    padding-left: 10px;
  }
  
  .address {
    font-size: 1.2rem;
    text-align: left;
  }
  
  .priceHead {
    color: black;
    opacity: 70%;
    font-size: 0.925rem;
    text-align: right;
  }
  
  .price {
    color: #D20000;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: right;
  }
  
  .pictureBlock {
    margin-top: 2.25vh;
    width: 50%;
  }
  
  .slideBlock {
    width: 100%;
  }
  
  .sliderImage {
    border-radius: 15px;
    height: 34.5vh;
    object-fit: cover;
  }

.swiperContainer .swiper-pagination-bullet {
  background-color: #f9f9f9; /* Change the color of the pagination bullets */
}

.swiperContainer .swiper-pagination-bullet-active {
  background-color: #f9f9f9; /* Change the color of the active pagination bullet */
}

.swiperPaginationBullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #f9f9f9 !important;
  margin: 0 5px !important;
}

.swiperPaginationBulletActive {
  background-color: #f9f9f9 !important;
}

  
  
  .descriptionBlock {
    margin-top: 2.25vh;
    width: 50%;
    padding-left: 1.5vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  

  .rowBlock2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .formBlock{
    margin-top: auto;
  }

  

  .tagBlock{
    width: 100%;
    display: block;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  
  .dateReserve {
    width: 65%;
  }
  
  .reserveButton {
    width: 100%;
    background-color: #285F3E;
    padding: 6.25% 0%;
    color: #f9f9f9;
    border-radius: 5px;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;

  }
  
  .reserveButton:hover {
    background-color: #193d27;
  }
  
  .checkInBlock{
    width: 60%;
    margin-top: auto;
  }

  .buttonBlock{
    margin-right: auto;
    margin-top: auto;
    width: 40%;
  }

  .commentText{
    width: 100%;
    padding: 1.5vh 11.75vw;
    font-size: 1.9rem;
    font-weight: 600;
  }

  .similarText{
    width: 100%;
    padding: 0vh 11.75vw;
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 10vh;
  }